.productPage_section{
   display: flex;
   width:95%;
   justify-content: space-between;
   /* background-color: black; */
   color: white;
   /* padding: 3%; */
   margin: auto;
   gap:25px

}
p{
   color:white
}
.sideBar{
width: 30%;
/* margin: auto; */
top:0px;
flex:1;
height: 100%;
}
.productList{
 width: 80%;
 margin: auto;
 
}

@media screen and (min-width: 512px) and (max-width:1024){
   .productPage_section{
      flex-direction: column;
      justify-content: space-between;
      /* background-color: black; */
      color: white;
      /* padding: 3%; */
      margin: auto;
      gap:25px
   
   }
   .sideBar{
      width: 100%;
      margin: auto;
      }
      .productList{
         width: 100%;
         margin: auto;
        }
   
 }

 @media screen and (min-width: 300px) and (max-width:511){
   .productPage_section{
      flex-direction: column;
      justify-content: space-between;
      /* background-color: black; */
      color: white;
      /* padding: 3%; */
      margin: auto;
      gap:25px
   
   }
   .sideBar{
      width: 100%;
      margin: auto;
      /* padding: 2%; */
      }
      .productList{
         width: 60%;
         margin: auto;
        }
   
 }


/* .sidebar_div{
   width:20%;
   border: 1px solid white;
   margin:auto
}
.product_div{
   width:80%;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap:15px;

}
.product_div div{
    background-color: #44413C;
    padding:10px;
    text-align: center;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product_div div>img{
    width:100%;
    height:60%;
} */

