.productPage_section{
   display: flex;
   width:90%;
   justify-content: space-between;
   background-color: black;
   color: white;
   padding: 3%;
   margin: auto;
   gap:35px

}

.sidebar_div{
   width:15%;
   border: 1px solid white;
   margin:auto
}
.product_div{
   width:80%;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap:15px;

}
.product_div div{
    background-color: #44413C;
    padding:10px;
    text-align: center;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product_div div>img{
    width:100%;
}