.Articals_section{
    background-color:#464D53;
    color:white;
    padding:2%;
    
}

.artical_title{
    color: #D68910;
    font-size: 30px;
}

.artical_div
{
    width:80%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}
.artical_div >div{
    border:1px solid white;
    padding:10px;
    background-color: gray;
    border-radius:10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s ease-in-out;
    
}
.artical_div >div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.05);
    background-color: #ea680b;
}
.artical_div >div >img{
    width: 100%;
    height:60%;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
   z-index: 2;
}

