.left-nav{
    padding: 2rem;
    padding-top: 1.5rem;
}
.header-menu{
     list-style: none;
     display: flex;
     gap: 2rem; 
     color: white;
     cursor: pointer;
}
.header-menu>li:hover{
color: orange;
cursor: pointer;
}

.logo-img{
width: 10rem;
height: 3rem ;
}