.Primary{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 430px;
  width: 500px;
  border-radius: 10px;
  /* border-radius: ; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 30px;
  padding: 10px;
  position: relative;
  left: 50px;
 
  
}
.primary2{
  position: relative;
  /* left: 50px; */
  bottom: 40px;
  
}
.Name{
  /* border: 2px solid red; */
  height: 40px;
  font-size: 18px;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.Name2{
  /* border: 2px solid red; */
  height: 40px;
  font-size: 18px;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: #4299e1;
}
.Name3{
  /* border: 2px solid red; */
  
  font-size: 18px;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  
}

.Size{
  font-size: 38px;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  text-align: center;
}

.Size2{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}



.input{
  height: 40px;
  font-size: larger;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: green;
  
  width: 230px;
  /* border: 2px solid red; */
  border-radius: 10px;
}

.input2{
  text-align: left;
  height: 40px;
  width: 475px;
  /* border: 2px solid red; */
  font-size: larger;
  font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: green;
  border-radius: 10px;
}

.icon{
  /* border: none; */
  /* border-color: var(--chakra-colors-gray-200); */
  border-color: none;
  text-decoration: none;
  box-shadow: var(--chakra-shadows-outline);
  /* box-shadow-ra: ; */
  color: green;
  border-radius: 40px;
}

.button{
  margin-top: 20px;
 height: 60px;
 border-radius: 10px;
 background-color:#4299e1;
 font-size: larger;
 font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 700;
}

.image{
  -webkit-background-size: cover;
    background-size: cover;

    height: 100%;
    width: 112%;
    display: block
}